<section class="chat__wrapper">
    <div class="side" data-role="sidebar">
        <div class="side__burger" data-role="toggle-users">
            <svg width="29" height="18" viewBox="0 0 33 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="33" height="3.66667" fill="#6C7982" />
                <rect y="9.16669" width="33" height="3.66667" fill="#6C7982" />
                <rect y="18.3333" width="33" height="3.66667" fill="#6C7982" />
            </svg>
        </div>
        <div class="side__user-item" data-user="{{userName}}">
            <img class="user__logo" src="{{photo}}" data-role="my-photo">
            <h4 class="user__name">{{userName}}</h4>
            <p class="user__message" data-role="last-message"></p>
        </div>
        <ul class="side__user-list" data-role="user-list">
        </ul>
    </div>
    <section class="chat">
        <section class="header">
            <h3 class="header__title">Чат</h3>
            <p class="header__text" data-role="count-user">{{countUser}}</p>
        </section>
        <section class="message" data-role="message-list">
        </section>
        <section class="entering" data-role="message-sender">
            <textarea class="entering__input" type="text" placeholder="Введите сообщение..." data-role="input-message"></textarea>
            <button class="entering__button" data-role="send-message">Отправить</button>
        </section>
    </section>
    <section class="modal" data-role="modal-window">
        <div class="modal__window" data-role="modal-place">
            <h3 class="modal__title">Загрузка фото</h3>
            <div class="modal__close" data-role="modal-close">
                <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14.4142 0.247925L15.8284 1.66214L1.4349 16.0557L0.0206874 14.6415L14.4142 0.247925Z" fill="#747E87" />
                    <path d="M1.41421 0.247925L0 1.66214L14.3935 16.0557L15.8077 14.6415L1.41421 0.247925Z" fill="#747E87" />
                </svg>
            </div>
            <input class="photo__input" id="input__photo" type="file" name="photo" accept="image/*" data-role="choose_img"/>
            <label class="photo__input-button modal__body" for="input__photo" data-user={{userName}}>
                <img src="{{photo}}" alt="Фото пользователя" class="modal__photo" data-role="photo-img">
                <p class="modal__username">{{userName}}</p>
            </label>
        </div>
    </section>
</section>
